<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{presentation/fragments :: head}"></head>
<body>
<header th:replace="~{presentation/fragments :: header}"></header>
<nav th:replace="~{presentation/fragments :: nav}"></nav>

<main>
    <div class="login-box">
        <img src="/images/login.png" style="width:80px; margin-bottom:10px;"/>
        <form action="/login" method="post">
            <div class="section-title">INGRESO</div>
            <div>
                <label>Id</label>
                <input type="text" name="username" placeholder="Id del usuario"/>
            </div>
            <div>
                <label>Clave</label>
                <input type="password" name="password" placeholder="Clave del usuario"/>
            </div>
            <input type="submit" value="Ingresar"/>
        </form>
        <div th:if="${param.error}" class="error">
            <p>Credenciales incorrectas</p>
        </div>
    </div>
</main>

<footer th:replace="~{presentation/fragments :: footer}"></footer>
</body>
</html>