<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/springsecurity6">

<head th:fragment="head">
    <meta charset="UTF-8">
    <title>Examen</title>
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="icon" href="/images/favicon.ico"/>
</head>

<header th:fragment="header">
    <img src="/images/header.jpg" style="width:100%;"/>
</header>

<nav th:fragment="nav">
    <div class="nav-bar">
        <!-- ADAPTAR según rutas del examen -->
        <th:block sec:authorize="isAuthenticated()">
            <a href="/presentation/main/show">INICIO</a>
            <a href="/logout">LOGOUT</a>
            <span sec:authentication="name"></span>
        </th:block>
    </div>
</nav>

<footer th:fragment="footer">
    <div class="footer">
        <!-- ADAPTAR texto del footer según examen -->
        Todos los derechos reservados . 2026
    </div>
</footer>
</html>